/*******************************************************************************************************************/
body {
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: #6aa4ce;
}



.center-holder {
    width: 100vw;
    height: auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}





.horizontal {
    width: 100%;
    height: auto;
    display: grid;
    grid-row-gap: 0px;
    justify-content: center;
    grid-template-rows: auto auto auto;
    -webkit-box-align: start;
    align-items: start;
    align-content: start;
    grid-template-columns: 1fr;
    grid-template-areas: "HEADER"
                         "MAIN"
                         "FOOTER"
}



#HEADER {
    width: 100vw;
    height: auto;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    grid-column-gap: 40px;
    grid-row-gap: 60px;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto auto auto;
    background-color: #2e2e2e;
    grid-template-areas: ". . ."
                         ". CLOCK ."
                         ". . .";
}


#CLOCK-CONTAINER {
    grid-area: CLOCK;
}



#CONTAINER-TOP {
    display: flex;
    width: 100%;
    background-color: #2e2e2e;
    justify-content: center;
}
/*******************************************************************/























#TOP {
    grid-area: HEADER;
}

#MAIN {
    grid-area: MAIN;
}


#BOTTON {
    grid-area: FOOTER;
}



#OZ {
    background-image: url(assets/images/personal-website.PNG);
    background-size: cover;
    background-position: center;  
}



#MOVIES {
    background-image: url(assets/images/database-project.PNG);
    background-size: cover;
    background-position: center;
}



#TARANTINO {
    background-image: url(assets/images/tarantino.PNG);
    background-size: cover;
    background-position: center;
}



#PACMAN {
    background-image: url(assets/images/pac-man.PNG);
    background-size: cover;
    background-position: center;
}

























/*******************************************************************/
#MAIN-CONTAINER {
    width: 100vw;
    height: auto;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    place-items: center;

    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 100px auto 1fr 100px;
    grid-template-areas: ". . ."
                         ". MAIN_TITLE ."
                         ". FLEXBOX_AREA .";
}


#TITLE {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    grid-area: MAIN_TITLE;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-areas: "TITLE TITLE . ";   
}


#GRID {
    grid-area: TITLE;
    width: 100%;
    height: auto;
    max-width: 700px;
}
/*******************************************************************/









/*******************************************************************/
#FLEXBOX {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: FLEXBOX_AREA;
    padding: 50px;
    margin: 50px;
      
}


.ITEM-HOLDER {
    max-width: 600px;
    min-width: 300px;
    display: grid;
    grid-row-gap: 40px;
    grid-template-rows: 400px auto;
    grid-template-areas: "IMAGE"                        
                         "DROPDOWN";
    
    
}

.DROPDOWN {
    width: 100%;
    height: auto;
    border-radius: 3px;
}


.IMAGE {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
/*******************************************************************/























#CONTAINER-BOTTOM {
    display: flex;
    width: 100%;
    background-color: #2e2e2e;
    justify-content: center;
}




/******************************FONTS********************************/

h1 {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    overflow-wrap: break-word;
}


h2 {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    overflow-wrap: break-word;
}


h3 {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1 rem;
    overflow-wrap: break-word;
}

p {
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    overflow-wrap: break-word;
}
/******************************FONTS********************************/





@media only screen and (max-width: 1500px) {
    body {
        background-color: #2e2e2e;
    }

    #FLEXBOX {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-area: FLEXBOX_AREA;
        padding: 50px;
        margin: 50px;
        row-gap: 50px; 
}


.ITEM-HOLDER {
    max-width: 100%;
    min-width: 60px;
    display: grid;
    grid-row-gap: 40px;
    grid-template-rows: 400px auto;
    grid-template-areas: "IMAGE"
        "DROPDOWN";

    background-color: aquamarine;

    }
}



































/******************************ACCORDION***************************/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {

    font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

ul {
    list-style-type: none;
}

a {
    color: #b63b4d;
    text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/


h1 a {
    color: #c12c42;
    font-size: 16px;
}



#ACCORDION-FIXED {
    grid-area: ACCORDION;
    position: relative;
    width: 100%;
    height: auto;
}


#JQUERY {
    position: relative;
}

.accordion {
    width: 100%;
    height: auto;

    margin: 0px auto 0px;
    background: #2e2e2e;   
}

.accordion .link {
    width: 100%;
    height: auto;
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #d9d9d9;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #d9d9d9;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.accordion li.open .link {
    color: #b63b4d;
}

.accordion li.open i {
    color: #b63b4d;
}

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.accordion li.default .submenu {
    display: block;
}

/**
 * Submenu
 -----------------------------*/
.submenu {
    display: none;
    background: hsl(47, 100%, 75%);
    font-size: 14px;
}

.submenu li {
    border-bottom: 1px solid #4b4a5e;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #2e2e2e;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover {
    background: #b63b4d;
    color: #efefef;
}

/******************************ACCORDION***************************/