/*******************************************************************************************************************/
body {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #2e2e2e;
}



.center-holder {
    width: 100vw;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}





.horizontal {
    width: 100%;
    height: auto;
    display: grid;
    grid-row-gap: 0px;
    justify-content: center;
    grid-template-rows: auto auto auto;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
    grid-template-columns: 1fr;
    grid-template-areas: "HEADER"
        "MAIN"
        "FOOTER"

}



#TOP {
    grid-area: HEADER;
}

#MAIN {
    grid-area: MAIN;
}


#BOTTOM {
    grid-area: FOOTER;
}
/*******************************************************************/








/*******************************************************************/
#MAIN-CONTAINER {
    width: 100vw;
    height: auto;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    place-items: center;

    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 100px auto 1fr 100px;
    grid-template-areas: ". . ."
        ". MAIN_TITLE ."
        ". FLEXBOX_AREA .";
}


#TITLE {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    grid-area: MAIN_TITLE;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-areas: "TITLE TITLE . ";   
}


#GRID {
    grid-area: TITLE;
    width: 100%;
    height: auto;
    max-width: 700px;
}
/*******************************************************************/









/*******************************************************************/
#FLEXBOX {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: FLEXBOX_AREA;
    padding: 50px;
    margin: 50px;
      
}


.ITEM-HOLDER {
    max-width: 600px;
    min-width: 300px;
    display: grid;
    grid-row-gap: 40px;
    grid-template-rows: 400px auto;
    grid-template-areas: "IMAGE"                        
                         "DROPDOWN";
    
    background-color: aquamarine;  

}

.DROPDOWN {
    width: 100%;
    height: 100px;
}


.IMAGE {
    width: 100%;
    height: 100%;
}
/*******************************************************************/























#CONTAINER-BOTTOM {
    display: flex;
    width: 100%;
    background-color: #2e2e2e;
    justify-content: center;
}




/******************************FONTS********************************/

h1 {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    overflow-wrap: break-word;
}


h2 {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    overflow-wrap: break-word;
}


h3 {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1 rem;
    overflow-wrap: break-word;
}

p {
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    overflow-wrap: break-word;
}
/******************************FONTS********************************/





@media only screen and (max-width: 1500px) {
    body {
        background-color: #2e2e2e;
    }

    #FLEXBOX {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-area: FLEXBOX_AREA;
        padding: 50px;
        margin: 50px;
        row-gap: 50px; 
}


.ITEM-HOLDER {
    max-width: 100%;
    min-width: 60px;
    display: grid;
    grid-row-gap: 40px;
    grid-template-rows: 400px auto;
    grid-template-areas: "IMAGE"
        "DROPDOWN";

    background-color: aquamarine;

}




}